[Unit]
Description=Run the gpg-preset service every 30 minutes.

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Unit=gpg-preset.service

[Install]
WantedBy=multi-user.target
